# Python cache
__pycache__/
*.pyc

# Generated images
output_image.jpg
without_helmet_*.jpg

# Safety-Detection-YOLOv8 data
Safety-Detection-YOLOv8/test/
Safety-Detection-YOLOv8/train/
Safety-Detection-YOLOv8/valid/
Safety-Detection-YOLOv8/videos/
Safety-Detection-YOLOv8/images/ 
Safety-Detection-YOLOv8/models/
Safety-Detection-YOLOv8/dataset_resized640
