fastapi==0.115.12
uvicorn==0.34.3
torch==2.5.0
ultralytics==8.0.239
ultralyticsplus==0.1.0
numpy==1.26.4
opencv-python==4.8.1.78
gradio==3.50.0
requests==2.31.0
pillow==10.2
python-multipart==0.0.20
matplotlib==3.10.3
streamlit==1.45.1
requests==2.31.0
pandas==2.3.0
